* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(212, 228, 228);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.allBtns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px;
    gap: 10px;
    background-color: white;
    color: burlywood;
    background-color: rgb(212, 228, 228);
    border-radius: 5px;
    padding: 5px;
    box-shadow: 1px 0px 0px 0px;
    cursor: pointer;
}

.btns{
    border: burlywood solid 2px;
    background-color: rgb(242, 224, 210);
    border-radius: 5px;
    padding: 5px 10px;
    color: rgb(213, 143, 12);
    font-weight: bold;
    cursor: pointer;
}

h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    color: rgb(213, 143, 12);}

/*  .line{
    position: absolute;
    left: 46%;
    width: 100px;
    border: solid 2px;
    color: burlywood;
    margin: 2.5px;
}  */

.img{
    width: 147.25px;
    height: 99px;
    border-radius: 10px;
    border: solid 5px rgb(171, 111, 89);
    object-fit: fill;
}

.container{
    display:grid;
    grid-template-columns: repeat(2, 2fr);
    row-gap: 25px;
    column-gap: 25px;
    margin: 0 80px;
    padding: 50px 20px; 
}

/* .priceAndName{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    text-underline-offset:auto ;
} */


.div {
    height: 140px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    font-size: 20px;
}

.description {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: rgb(202, 72, 100);

}

.priceAndName{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(249, 194, 101);
    margin: 15px 0;
    color: rgb(213, 143, 12);   
    font-size: 20px;
}

.p {
    display: inline-block;
    color: burlywood;
    font-weight: bold;
}